<link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<div id="clock">
  <div class="digit">
    <div class="cube-wrapper">
      <div class="cube">
        <div class="f1">
          <span>1</span>
        </div>
        <div class="f2">
          <span>2</span>
        </div>
      </div>
    </div>
  </div>
  <div class="digit">
    <div class="cube-wrapper">
      <div class="cube">
        <div class="f1">
          <span>4</span>
        </div>
        <div class="f2">
          <span>5</span>
        </div>
      </div>
    </div>
  </div>
  <div class="separator">
    <div class="x"></div>
    <div class="y"></div>
  </div>
  <div class="digit">
    <div class="cube-wrapper">
      <div class="cube">
        <div class="f1">
          <span>4</span>
        </div>
        <div class="f2">
          <span>5</span>
        </div>
      </div>
    </div>
  </div>
  <div class="digit">
    <div class="cube-wrapper">
      <div class="cube">
        <div class="f1">
          <span>7</span>
        </div>
        <div class="f2">
          <span>8</span>
        </div>
      </div>
    </div>
  </div>
</div>
